<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>5955996F-C97C-4D8A-AAB1-C18F81E14A67</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>bl</string>
			<key>text</key>
			<string>Bricklane GitHub Search</string>
			<key>url</key>
			<string>https://github.com/search?q=user%3APropertyLift+{query}&amp;ref=opensearch&amp;type=Code</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C37C89DA-FEA5-4683-BD38-471C697B8477</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gif</string>
			<key>text</key>
			<string>Giphy GIF</string>
			<key>url</key>
			<string>https://giphy.com/search/{query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
