<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>5955996F-C97C-4D8A-AAB1-C18F81E14A67</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>tc</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Trunk Club GitHub Search</string>
			<key>url</key>
			<string>https://github.com/search?q=user%3Atrunkclub+{query}&amp;ref=opensearch&amp;type=Code</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>C37C89DA-FEA5-4683-BD38-471C697B8477</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>gif</string>
			<key>plusSpaces</key>
			<false/>
			<key>text</key>
			<string>Google GIF</string>
			<key>url</key>
			<string>https://www.google.com/search?as_st=y&amp;tbm=isch&amp;as_q={query}+gif&amp;as_epq=&amp;as_oq=&amp;as_eq=&amp;cr=&amp;as_sitesearch=&amp;safe=images&amp;tbs=itp:animated&amp;safe=active</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
